body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6600;
  padding: 1rem;
}

.navbar-brand .logo {
  height: 50px; /* Подстройте размер логотипа под ваши нужды */
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 1rem;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ff6600;
  }

  .navbar-menu li {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu.active {
    display: flex;
  }
}
