header {
  background-color: white;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  font-weight: 900;
  font-family: Varela Round;
  font-size: large;
  padding-top: 12px;
}
.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.nav-links li {
  display: inline;
  padding-top: 15px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.nav-links a:hover {
  color: orangered;
}
.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
  color: beige;
  border-color: beige;
}
.search-container input:hover {
  border-color: #ff6600;
  color: #ff6600;
}
.search-container button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #ffe0b2;
}
